$horizontal-slider-thumb-width: 15px !default;
$horizontal-slider-thumb-height: 15px !default;
$horizontal-slider-end-cap-width: 7px !default;

$vertical-slider-thumb-width: 15px !default;
$vertical-slider-thumb-height: 15px !default;
$vertical-slider-end-cap-height: 7px !default;
