$spindowntrigger-icon: dynamic('arrow_drop_down');
$spindowntrigger-icon-big: dynamic('remove');
$spindowntrigger-icon-size: dynamic(px-to-em(12px, 13px));
$spindowntrigger-icon-font-size: dynamic(px-to-em(20px, 13px));
