$spinuptrigger-icon: dynamic('arrow_drop_up');
$spinuptrigger-icon-big: dynamic('add');
$spinuptrigger-icon-size: dynamic(px-to-em(12px, 13px));
$spinuptrigger-icon-font-size: dynamic(px-to-em(20px, 13px));
