.x-layout-card-item {
    background: #2c2c2c;
}

.x-nested-list.x-docked-left {
    border-right: 1px solid #000;
}

.x-list .x-list-item {
    color: #fff;
    & .x-item-selected {
        font-weight: bold;
    }
}

.yearlabel {
    font-size: 24px;
    font-weight: light;
    color: #ddd;
    padding: 12px;
}

.x-toolbar-dark .x-title {
    font-family: Orbitron, Helvetica, sans-serif;
    font-weight: 600 !important;
    @include text-shadow(#999 0 0 3px);
    text-transform: uppercase;
    font-size: 1em;
    line-height: 2.8em;
    color: rgba(#fff, .9);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.launchscreen {
    .x-scroll-container {
        background-color: #111;
    }
    .x-inner {
        font-family: Orbitron, Helvetica, sans-serif;
        background-color: #111;
        @include display-box;
        @include box-orient(vertical);
        @include box-align(center);
        @include box-pack(center);

        & > div {
            width: 70%;
            text-align: center;
            font-size: 18px;
            line-height: 28px;
            color: #666;
            text-shadow: #222 0 0 25px;
        }

        p {
            font-weight: 400;
            font-size: 26px;
            line-height: 34px;

            strong {
                color: #fff;
            }
        }
    }
}

.chartpanel {
    @include background(linear-gradient(top, #333, #060606));

    .x-legend-item {
        color: #fff;
    }
}