$tip-background-color: dynamic($background-color);
$tip-body-color: dynamic($color);
$tip-body-padding: dynamic(8px);
$tip-header-padding: dynamic(8px 8px 0 8px);
$tip-tool-color: dynamic(null);
$tip-anchor-height: dynamic(.65em);