.msg {
    font-size: 14px;
}

#msg-div {
    position: absolute;
    left: 50%;
    top: 10px;
    width: 400px;
    margin-left: -200px;
    z-index: 20000;
}

#msg-div .msg {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #F6F6F6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}

#msg-div .msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
}

#msg-div .msg p {
    margin: 0;
}

/*
 * Styles for the grid to grid DD example.
 * The right hand grid gets a red border when dragging over it.
 */
.dd-over-gridview {
    position: static!important;
}

.dd-over-gridview:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
    border: 1px solid red;
}