$ext-font-path: get-resource-path('fonts');

@font-face {
    font-family: 'ExtJS';
    src:url('#{$ext-font-path}/ExtJS.eot?7f8uzy');
    src:url('#{$ext-font-path}/ExtJS.eot?#iefix7f8uzy') format('embedded-opentype'),
    url('#{$ext-font-path}/ExtJS.woff?7f8uzy') format('woff'),
    url('#{$ext-font-path}/ExtJS.ttf?7f8uzy') format('truetype'),
    url('#{$ext-font-path}/ExtJS.svg?7f8uzy#ExtJS') format('svg');
    font-weight: normal;
    font-style: normal;
}