/**
 * @class Ext.Sheet
 */

/**
 * @var {color} $sheet-bg-color
 * Background-color for action sheets and message boxes.
 */
$sheet-bg-color: dynamic(#fff);

/**
 * @var {measurement} $sheet-button-spacing
 * Vertical spacing between sheet buttons.
 */
$sheet-button-spacing: dynamic(.5em);

/**
 * @var {measurement} $sheet-padding
 * Overall padding in a sheet.
 */
$sheet-padding: dynamic(0em);
