$itemheader-background-color: dynamic($neutral-highlight-color);
$itemheader-border-width: dynamic(null);
$itemheader-border-style: dynamic(null);
$itemheader-border-color: dynamic(null);
$itemheader-color: dynamic($color);
$itemheader-padding: dynamic(.1429em .714em);
$itemheader-padding-big: dynamic(.25em .9375em);