// OVERRIDES

// BUTTON

.x-btn-text {
    text-transform: uppercase;
}
.x-btn-inner {
    padding-top: 1px !important;
}
.x-btn-arrow-right:after, .x-btn-split-right:after {
    width: 24px !important;
    padding-right: 24px !important;
    background-position: center center !important;
}

.x-btn-split-right:after {
    background-image: url(icons/button-toolbar-cycle.png) !important;
    background-size: 100% !important;

    .x-ie8 & {
        background-image: url(icons/button-toolbar-cycle-small.png) !important;
    }
}

.x-btn-arrow-right:after {
    background-image: url(icons/button-toolbar-arrow.png) !important;
    background-size: 50% !important;

    .x-ie8 & {
        background-image: url(icons/button-toolbar-arrow-small.png) !important;
    }
}

// GRID
// default grid should have all uppercase letters
// for special grids (e.g. news) this should be downgraded

.x-grid-body {
    text-transform: uppercase;
}

.x-column-header {
    text-transform: uppercase;
}

.x-column-header-trigger {
    display: block !important;
    background: transparent url(icons/grid-arrow.png) no-repeat center center !important;
    background-size: 50% !important;
    border-left: none !important;
    margin-right: 6px !important;
}

.x-grid-header-ct {
    border-top: none !important;
}

.x-grid-group-title {
    background-size: contain;
    padding: 0 0 0 25px !important;
    height: 16px;
    line-height: 20px !important;
}

.x-grid-group-hd-collapsible .x-grid-group-title {
    background-image: url(icons/grid-collapse.png) !important;

    .x-ie8 & {
        background-image: url(icons/grid-collapse-small.png) !important;
    }
}

.x-grid-group-hd-collapsed .x-grid-group-title {
    background-image: url(icons/grid-expand.png) !important;

    .x-ie8 & {
        background-image: url(icons/grid-expand-small.png) !important;
    }
}

.x-grid-item-container {
    border-top: none !important;
}

.x-column-header-last .x-column-header-trigger {
    border-right: none !important;
}

// TOOLBAR

.x-toolbar {
    padding: 0px 0px 20px 0px !important;
}

// MENU

.x-menu-item-checked .x-menu-item-checkbox {
    background-image: url("icons/group-checked.png") !important;
    background-size: 50% !important;
    background-position: left center;

    .x-ie8 & {
        background-image: url("icons/group-checked-small.png") !important;
    }
}