@include icon-font('iOS7', 'ios7/ios7');

html, body {
    font-family: "Helvetica Neue", HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;
    font-weight: normal;
}

.x-layout-card-item {
	background: $background-color;
}

@include st-loading-spinner(1em, $ios7-blue, .1em, .25em);