//background
$tip-background-color: #fff !default;
$tip-background-gradient: null !default;

//text
$tip-body-color: #000 !default;
$tip-body-font-size: $font-size !default;
$tip-body-font-weight: normal !default;
$tip-body-padding: 3px !default;
$tip-body-link-color: $tip-body-color !default;

$tip-header-color: $tip-body-color !default;
$tip-header-font-size: $tip-body-font-size !default;
$tip-header-font-weight: bold !default;
$tip-header-body-padding: 3px 3px 0 3px!default;  

//borders
$tip-border-color: $panel-border-color !default;
$tip-border-width: 1px !default;
$tip-border-radius: 3px !default;

//error tips
$tip-error-background-color: $tip-background-color !default;
$tip-error-inner-border-color: #fff !default;
$tip-error-inner-border-width: 0 !default;
$tip-error-border-color: $tip-border-color !default;
$tip-error-border-radius: $tip-border-radius !default;
$tip-error-border-width: $tip-border-width !default;
$tip-error-background-color: $tip-background-color !default;
$tip-error-body-padding: $tip-body-padding !default;
$tip-error-body-color: $tip-body-color !default;
$tip-error-body-font-size: $tip-body-font-size !default;
$tip-error-body-font-weight: $tip-body-font-weight !default;
$tip-error-body-link-color: $tip-body-link-color !default;

$tip-tool-spacing: 4px !default;
$tip-tool-background-image: 'tools/tool-sprites' !default;