$messagebox-body-background-color: $window-body-background-color !default;
$messagebox-body-border-width: 0 !default;
$messagebox-body-border-color: $window-body-border-color !default;
$messagebox-body-border-style: $window-body-border-style !default;
$messagebox-icon-background-position: top left !default;