$grid-header-background-color: $neutral-light-color !default;
$grid-header-background-gradient: null !default;
$grid-header-border-color: #c0c0c0 !default;
$grid-header-over-background-color: mix(#fff, $base-light-color, 80%) !default;
$grid-header-over-trigger-background-color: mix(#fff, $base-light-color, 10%) !default;
$grid-header-over-background-gradient: none !default;
$grid-header-padding: 7px 6px 7px 10px !default;
$grid-header-sort-icon-spacing: 8px !default;
