$wizard-primary-background-color: #579ddb;
$wizard-button-background-color: #579ddb;

$wizard-two-primary-background-color: #986291;
$wizard-two-button-background-color: #925e8b;

$wizard-three-primary-background-color: #9cc96b;
$wizard-three-button-background-color: #9cc96b;
