/**
 * @class Ext.form.Panel
 */

/**
 * @var {color} $form-bg-color
 * Default background-color for forms.
 */
$form-bg-color: dynamic(#eee);

/**
 * @var {color} $form-light
 * Light color for form fields, mostly used on field borders.
 */
$form-light: dynamic(#ddd);

/**
 * @var {color} $form-dark
 * Dark color for form fields, mostly used on labels/text.
 */
$form-dark: dynamic(#333);

/**
 * @var {measurement} $form-spacing
 * Default spacing for form fields, used for padding, etc.
 */
$form-spacing: dynamic(.3em);

/**
 * @var {measurement} $form-label-width
 * Default width for form labels.
 */
$form-label-width: dynamic(6em);

/**
 * @var {color} $form-label-background-color
 * The default background color for labels
 */
$form-label-background-color: lighten($form-light, 10%);
