@include gridcolumn-ui(
    $color: $gridcolumn-color,
    $background-color: $gridcolumn-background-color,
    $sorted-background-color: $gridcolumn-sorted-background-color,
    $resizer-background-color: $gridcolumn-resizer-background-color,
    $border-width: $gridcolumn-border-width,
    $border-style: $gridcolumn-border-style,
    $border-color: $gridcolumn-border-color,
    $font-weight: $gridcolumn-font-weight,
    $font-size: $gridcolumn-font-size,
    $font-size-big: $gridcolumn-font-size-big,
    $line-height: $gridcolumn-line-height,
    $line-height-big: $gridcolumn-line-height-big,
    $font-family: $gridcolumn-font-family,
    $padding: $gridcolumn-padding,
    $padding-big: $gridcolumn-padding-big,
    $sort-icon-margin: $gridcolumn-sort-icon-margin,
    $sort-icon-margin-big: $gridcolumn-sort-icon-margin-big,
    $sort-icon-size: $gridcolumn-sort-icon-size,
    $sort-icon-size-big: $gridcolumn-sort-icon-size-big,
    $sort-icon-font-size: $gridcolumn-sort-icon-font-size,
    $sort-icon-font-size-big: $gridcolumn-sort-icon-font-size-big,
    $sort-icon-color: $gridcolumn-sort-icon-color,
    $sort-asc-icon: $gridcolumn-sort-asc-icon,
    $sort-desc-icon: $gridcolumn-sort-desc-icon
);
