.#{$prefix}grid-header-container {
    background-color: $grid-column-background-color;
}

.x-grid-column,
.x-grid-headergroup-text {
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: $grid-column-border-color;

    color: $grid-column-color;
    background-color: $grid-column-background-color;

    @include font($grid-column-font-weight, $grid-column-font-size, $grid-column-line-height, $grid-column-font-family);
    padding: $grid-column-padding;
    @if $enable-big {
        .x-big & {
            font-size: $grid-column-font-size-big;
            line-height: $grid-column-line-height-big;
            padding: $grid-column-padding-big;
        }
    }
}

.x-column-sorted-asc,
.x-column-sorted-desc {
    background-color: $grid-column-sorted-background-color;

    > .x-innerhtml:after {
        color: $grid-column-sort-icon-color;
        display: inline-block;
        text-align: center;
        width: $grid-column-sort-icon-font-size;
        margin-left: $grid-column-sort-icon-spacing;
    }
}

.x-column-sorted-asc > .x-innerhtml {
    @include font-icon($grid-column-sort-asc-icon, $pseudo: after, $style-pseudo: true);
}

.x-column-sorted-desc > .x-innerhtml {
    @include font-icon($grid-column-sort-desc-icon, $pseudo: after, $style-pseudo: true);
}
