$button-background-color: dynamic(transparent);
$button-pressed-background-color: dynamic($base-pressed-color);
$button-color: dynamic($base-color);
$button-pressed-color: dynamic($background-color);
$button-border-color: dynamic(null);
$button-pressed-border-color: dynamic(null);
$button-icon-color: dynamic($base-color);
$button-pressed-icon-color: dynamic($background-color);
$button-border-width: dynamic(null);
$button-border-style: dynamic(null);
$button-border-radius: dynamic(2px);
$button-border-radius-big: dynamic($button-border-radius);
$button-font-size: dynamic(px-to-rem(13px, 12px));
$button-font-size-big: dynamic(px-to-rem(16px, 14px));
$button-font-weight: dynamic(600);
$button-line-height: dynamic(px-to-em(16px, 13px));
$button-line-height-big: dynamic(px-to-em(24px, 16px));
$button-padding: dynamic(px-to-em(4px, 13px) px-to-em(($content-padding / 2), 13px));
$button-padding-big: dynamic(px-to-em(6px, 16px) px-to-em(($content-padding / 2), 16px));
$button-pressed-icon-color: dynamic($button-pressed-color);
$button-disabled-opacity: dynamic(null);
$button-badge-background-color: dynamic($accent-color);
$button-badge-background-gradient: dynamic(null);
$button-badge-color: dynamic($accent-foreground-color);
$button-badge-border-color: dynamic(transparent);
$button-badge-border-radius: dynamic(32px);
$button-badge-min-width: dynamic(32px);
$button-badge-max-width: dynamic(55%);
$button-badge-top: dynamic(-1px);
$button-badge-right: dynamic(null);
$button-badge-left: dynamic(-1px);
$button-badge-padding: dynamic(4px);

$button-raised-ui: dynamic($enable-default-uis);
$button-raised-confirm-ui: dynamic($enable-default-uis);
$button-raised-decline-ui: dynamic($enable-default-uis);

@mixin button-action-ui {
    @include button-ui(
        $ui: 'action',
        $color: $base-foreground-color,
        $background-color: $base-color
    );
}

@mixin button-alt-ui {
    @include button-ui(
        $ui: 'alt',
        $color: $base-foreground-color,
        $background-color: $base-color,
        $pressed-background-color: $base-color
    );
}

@mixin button-confirm-ui {
    @include button-ui(
    $ui: 'confirm',
    $color: $confirm-color,
    $pressed-color: $base-foreground-color,
    $pressed-background-color: $confirm-color
    );
}

@mixin button-decline-ui {
    @include button-ui(
    $ui: 'decline',
    $color: $alert-color,
    $pressed-color: $base-foreground-color,
    $pressed-background-color: $alert-color
    );
}


@mixin button-raised-ui {
    @include button-ui(
    $ui: 'raised',
    $color: $background-color,
    $shadow: $material-shadow-1,
    $pressed-shadow: $material-shadow-2,
    $background-color: $base-color,
    $pressed-background-color: $base-pressed-color
    );
}

@mixin button-raised-confirm-ui {
    @include button-ui(
        $ui: 'raised-confirm',
        $color: $background-color,
        $background-color: $confirm-color
    );
}

@mixin button-raised-decline-ui {
    @include button-ui(
        $ui: 'raised-decline',
        $color: $background-color,
        $background-color: $alert-color
    );
}

@mixin button-segmented-ui {
    @include button-ui(
        $ui: 'segmented',
        $color: $base-foreground-color,
        $background-color: $base-color,
        $pressed-background-color: $base-pressed-color
    );
}