$menu-top-border-width: dynamic(null);
$menu-top-border-style: dynamic(null);
$menu-top-border-color: dynamic(null);
$menu-right-border-width: dynamic(null);
$menu-right-border-style: dynamic(null);
$menu-right-border-color: dynamic(null);
$menu-bottom-border-width: dynamic(null);
$menu-bottom-border-style: dynamic(null);
$menu-bottom-border-color: dynamic(null);
$menu-left-border-width: dynamic(null);
$menu-left-border-style: dynamic(null);
$menu-left-border-color: dynamic(null);