/**
 * @class Ext.field.Search
 */

.x-field-search {
    .x-field-input {
        position: relative;

        @include font-icon($fa-var-search 1.2em FontAwesome);

        &:before {
            color: $neutral-dark-color;
            position: absolute;
            top: 50%;
            margin-top: -.6em;
            left: .4em;
            right: auto;
        }

        .x-form-field {
            padding-left: 1.5em;
        }
    }
}