/**
 * @class Ext.field.Spinner
 */

.x-spinner {
    .x-field-input {
        .x-input-el {
            -webkit-text-fill-color: #000;
        }
    }

    &.x-item-disabled {
        .x-input-el {
            -webkit-text-fill-color: #B3B3B3;
        }

        .x-spinner-button {
            color: #aaa !important;
        }
    }

    .x-spinner-button {
        width: $spinnerfield-button-size;
        height: $spinnerfield-button-size;
        line-height: $spinnerfield-button-size;
        color: $spinnerfield-button-color;

        @if $enable-big {
            .x-big & {
                font-size: $spinnerfield-button-font-size-big;
            }
        }
    }

    .x-spinner-button-down {
        @include font-icon($spinnerfield-button-down-icon);
        margin-left: .25em;
    }
    .x-spinner-button-up {
        @include font-icon($spinnerfield-button-up-icon);
        margin-right: .4em;
    }

    &.x-field-grouped-buttons {
        .x-spinner-button-down {
            margin-right: .5em;
        }
    }
}

.x-android {
    .x-spinner-button {
        padding: .40em 0 .11em !important;
    }
}

.x-ie .x-spinner .x-field-input .x-input-el:disabled {
  color: #000;
}