/**
 * @class Ext.Panel
 */

.x-panel,
.x-msgbox {
    position: relative;

    // Override base Container's overflow setting.
    // This allows a Panel's anchor element to be visible.
    overflow: visible;
}

.x-panel.x-floating,
.x-msgbox {
    .x-panel-inner,
    > .x-body {
        z-index: 1;
    }
}

.x-panel.x-floating > .x-dock,
.x-msgbox > .x-dock {
    z-index: 1;
}

.x-anchor, .x-anchor:after {
    position: absolute;
    height: 0;
    width: 0;
    content: "";
}
