.x-cleartrigger .x-icon-el, .x-revealtrigger .x-icon-el {
    width: 10px;
    height: 10px;
    right: 0;
    background-color: #ccc;
}

.x-field .x-label-el {
    .x-label-text-el {
        font-weight: bold;
    }
}
