.x-field-input .x-clear-icon, .x-field-input .x-reveal-icon {
    width: 10px;
    height: 10px;
    right: 0;
    background-color: #ccc;
}

.x-form-label {
    span {
        font-weight: bold;
    }
}

.x-field-clearable {
    .x-field-input {
        padding-right: 10px;
    }
}

.x-field-revealable {
    .x-field-input {
        padding-right: 10px;
    }
}

.x-field-clearable.x-field-revealable {
    .x-reveal-icon {
        right: 20px;
    }
}