$progress-border-color: dynamic(#18181a);
$progress-background-color: dynamic(#232d38);
$progress-text-color-front: dynamic(#000);
$progress-text-color-back: dynamic(#fff);
$progress-bar-background-color: dynamic($orange);
