$splitter-size: 5px !default;
$splitter-active-background-color: #b4b4b4 !default;
$splitter-active-opacity: .8 !default;
$splitter-active-collapse-tool-opacity: .3 !default;
$collapse-tool-cursor: pointer !default;
$collapse-tool-size: 35px !default;
