@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);

//Sencha overrides
.x-field {
    font-weight: 100;
}

.x-layout-card-item {
    background: #fff;
}

.x-list {
    .x-list-item {
        .x-list-item-body,
        &.x-list-item-tpl .x-innerhtml {
            height: 100%;
            padding: 20px $list-item-padding;
        }
    }
}

.x-menu {
    background: #fff;
    @include st-box-shadow(inset -3px 0px 20px -10px black);
    -webkit-box-shadow: inset -3px 0px 20px -10px black;
    box-shadow: inset -3px 0px 20px -10px black;
    padding:0px;


    .x-button {
        padding: 1em;
        border: none;
        padding-right: 1em;
        border-radius: 0;
        border-bottom: 1px solid rgba(0,0,0,.1);
        text-align: right;
        background-color: transparent;
        margin:0px;
        background: white;

        &.x-button-pressing {
            background-color: #e1e1e1;
            background-image: none;
        }

        .x-button-label {
            line-height: 1.3em;
            text-align: left;
            font-weight: 300;
        }
    }
}

