.login {
    .password {
        margin-bottom: 0;
    }
    
    .hint {
        margin-bottom: 0;
        
        .x-form-display-field {
            height: auto;
            margin: 0;
            font-size: 9px;
        }
    }
}