$menu-separator-size: 1px !default;
$menu-item-active-background-color: mix(#fff, $base-light-color, 50%) !default;
$menu-border-width: 1px !default;
$menu-item-margin: 0 !default;
$menu-item-border-width: 0 !default;
$menu-padding: 0 !default;
$menu-item-trailing-padding: 4px !default;
$menu-glyph-color: #808080 !default;
$menu-scroller-height: 16px !default;

$menu-scroller-opacity: .5 !default;
$menu-scroller-opacity-over: .6 !default;
$menu-scroller-opacity-pressed: .7 !default;

// Margins for non-MenuItem components in menus
$menu-component-margin: 2px !default;

$menu-glyph-color: #808080 !default;
