$spindowntrigger-icon: dynamic($ios-arrow-down iOS);
$spindowntrigger-icon-big: dynamic($ios-spinner-minus iOS);

$spindowntrigger-icon-size: dynamic(px-to-em(12px, 14px));
$spindowntrigger-icon-font-size: dynamic(px-to-em(16px, 16px));
