$spinuptrigger-icon: dynamic($ios-arrow-up iOS);
$spinuptrigger-icon-big: dynamic($ios-spinner-plus iOS);

$spinuptrigger-icon-size: dynamic(px-to-em(12px, 14px));
$spinuptrigger-icon-font-size: dynamic(px-to-em(16px, 16px));
