$trigger-width: dynamic(px-to-em(22px, 14px));
$trigger-width-big: dynamic(px-to-em(30px, 16px));
$trigger-icon: dynamic($ios-arrow-down iOS);
$trigger-icon-color: dynamic($base-color);

$trigger-icon-size: dynamic(px-to-em(16px, 14px));
$trigger-icon-size-big: dynamic(px-to-em(24px, 16px));