$form-checkboxgroup-body-padding: 0 4px !default;

$form-checkboxgroup-label-color: $form-label-font-color !default;
$form-checkboxgroup-label-padding: 2px !default;
$form-checkboxgroup-label-margin: 0 30px 5px 0 !default;
$form-checkboxgroup-label-border-width: 0 0 1px 0 !default;
$form-checkboxgroup-label-border-style: solid !default;
$form-checkboxgroup-label-border-color: $form-checkboxgroup-label-color !default;