$form-trigger-width: 20px !default;
$form-trigger-border-bottom-width: 2px !default;
$form-trigger-border-bottom-color: $form-field-border-color !default;
$form-trigger-border-bottom-color-over: $form-field-focus-border-color !default;
$form-trigger-border-bottom-color-focus: $form-field-border-color !default;
$form-trigger-border-bottom-color-focus-over: $form-field-focus-border-color !default;
$form-trigger-border-bottom-color-pressed: #c76e12 !default;