$tabbar-background-color: dynamic($background-color);
$tabbar-padding: dynamic(0);
$tabbar-padding-big: dynamic(null);
$tabbar-horizontal-spacing: dynamic(null);
$tabbar-vertical-spacing: dynamic(null);