$tab-background-color: dynamic($base-color);
$tab-active-background-color: dynamic($base-color);
$tab-background-gradient: dynamic(null);
$tab-active-background-gradient: dynamic(null);
$tab-color: dynamic($base-foreground-color);
$tab-active-color: dynamic($base-foreground-color);

$tab-border-color: dynamic(null);
$tab-active-border-color: dynamic(null);
$tab-border-width: dynamic(null);
$tab-border-style: dynamic(null);
$tab-border-radius: dynamic(null);
$tab-border-radius-big: dynamic(null);
$tab-active-box-shadow: dynamic(inset 0 -$content-padding/4 0 0 $accent-light-color);

$tab-font-size: dynamic(px-to-rem(12px, 12px));
$tab-font-size-big: dynamic(px-to-rem(13px, 14px));
$tab-font-weight: dynamic(400);
$tab-line-height: dynamic(px-to-em(16px, 12px));
$tab-line-height-big: dynamic(px-to-em(24px, 13px));
$tab-padding: dynamic(px-to-em(6px, 12px));
$tab-padding-big: dynamic(px-to-em(4px, 13px));
$tab-icon-horizontal-spacing: dynamic(px-to-em($content-padding/4, 12px));
$tab-icon-horizontal-spacing-big: dynamic(px-to-em($content-padding / 4, 13px));
$tab-icon-vertical-spacing: dynamic(px-to-em(6px, 12px));
$tab-icon-vertical-spacing-big: dynamic(px-to-em(8px, 13px));
$tab-disabled-opacity: dynamic(1);
$tab-badge-background-color: dynamic($accent-color);
$tab-badge-background-gradient: dynamic(null);
$tab-badge-color: dynamic($accent-foreground-color);
$tab-badge-border-color: dynamic(transparent);
$tab-badge-border-radius: dynamic($content-padding * 2);
$tab-badge-min-width: dynamic($content-padding * 2);
$tab-badge-max-width: dynamic(75%);
$tab-badge-font-size: dynamic(px-to-rem(12px, 12px));
$tab-badge-font-size-big: dynamic(px-to-rem(12px, 13px));
$tab-badge-font-weight: dynamic(400);
$tab-badge-line-height: dynamic(normal);
$tab-badge-top: dynamic(-10px);
$tab-badge-right: dynamic(null);
$tab-badge-left: dynamic(0);
$tab-badge-padding: dynamic(px-to-em($content-padding/4, 12px));
$tab-badge-padding-big: dynamic(px-to-em($content-padding/4, 12px));
