.#{$prefix}searchfield {
    .#{$prefix}input-el {
        -webkit-appearance: textfield;

        &::-webkit-search-decoration {
            -webkit-appearance: none;
        }
    }
}

.#{$prefix}ie .#{$prefix}field.#{$prefix}searchfield {
    .#{$prefix}mask-el {
        z-index: -1;
    }
}