/**
 * @class Ext.dataview.List
 */

/**
 * @var {color}
 * List item text color
 */
$list-item-color: dynamic($color);

/**
 * @var {color}
 * List item background-color
 */
$list-item-background-color: dynamic(#fff);

/**
 * @var {color}
 * List item background-color
 */
$list-item-border-color: dynamic($neutral-highlight-color);

/**
 * @var {color}
 * List item background-color when pressed
 */
$list-item-pressed-background-color: dynamic(mix(#fff, $base-light-color, 50%));

/**
 * @var {color}
 * List item background-color when selected
 */
$list-item-selected-background-color: dynamic(mix(#fff, $base-light-color, 25%));

/**
 * @var {string/number}
 * List item font-weight
 */
$list-item-font-weight: dynamic($font-weight-normal);

/**
 * @var {number}
 * List item font-size
 */
$list-item-font-size: dynamic(1rem);

/**
 * @var {number}
 * List item font-size in the {@link Ext.Component#$enable-big big} sizing scheme
 */
$list-item-font-size-big: dynamic($list-item-font-size);

/**
 * @var {number}
 * List item line-height
 */
$list-item-line-height: dynamic(1.25em);

/**
 * @var {number}
 * List item line-height in the {@link Ext.Component#$enable-big big} sizing scheme
 */
$list-item-line-height-big: dynamic(1.2);

/**
 * @var {string}
 * List item font-family
 */
$list-item-font-family: dynamic($font-family);

/**
 * @var {number/list}
 * List item padding
 */
$list-item-padding: dynamic(.3em .6em);

/**
 * @var {number/list}
 * List item padding in the {@link Ext.Component#$enable-big big} sizing scheme
 */
$list-item-padding-big: dynamic(.46em .6em);

/**
 * @var {color}
 * Text color for list header rows (in grouped lists).
 */
$list-group-header-color: dynamic($highlight-color);

/**
 * @var {color}
 * Background-color for list header rows (in grouped lists).
 */
$list-group-header-background-color: dynamic($neutral-light-color);

/**
 * @var {color}
 * Border-color for list header rows (in grouped lists).
 */
$list-group-header-border-color: dynamic($grid-column-border-color);

/**
 * @var {string/number}
 * List item font-weight
 */
$list-group-header-font-weight: dynamic($font-weight-bold);

/**
 * @var {number}
 * List item font-size
 */
$list-group-header-font-size: dynamic($list-item-font-size);

/**
 * @var {number}
 * List item font-size in the {@link Ext.Component#$enable-big big} sizing scheme
 */
$list-group-header-font-size-big: dynamic($list-group-header-font-size);

/**
 * @var {number}
 * List item line-height
 */
$list-group-header-line-height: dynamic($list-item-line-height);

/**
 * @var {number}
 * List item line-height in the {@link Ext.Component#$enable-big big} sizing scheme
 */
$list-group-header-line-height-big: dynamic($list-item-line-height-big);

/**
 * @var {string}
 * List item font-family
 */
$list-group-header-font-family: dynamic($list-item-font-family);

/**
 * @var {number/list}
 * List item padding
 */
$list-group-header-padding: dynamic($list-item-padding);

/**
 * @var {number/list}
 * List item padding in the {@link Ext.Component#$enable-big big} sizing scheme
 */
$list-group-header-padding-big: dynamic($list-item-padding-big);
