// These variables are for styling the touch scroll indicators, and are only included
// when the Ext.scroll.Indicator is included, but they are documented under Ext.Component,
// so users can find them easily
/**
 * @class Ext.Component
 */

/**
 * @var {color}
 * The background color of scroll indicators when touch scrolling is enabled
 */
$scroll-indicator-background-color: dynamic(#000);

/**
 * @var {number}
 * The opacity of scroll indicators when touch scrolling is enabled
 */
$scroll-indicator-opacity: dynamic(.5);

/**
 * @var {number}
 * The border-radius of scroll indicators when touch scrolling is enabled
 */
$scroll-indicator-border-radius: dynamic(3px);

/**
 * @var {color}
 * The background color of scroll indicators when touch scrolling is enabled
 */
$scroll-indicator-size: dynamic(6px);

/**
 * @var {number}
 * The space between scroll indicators and the edge of their container
 */
$scroll-indicator-margin: dynamic(2px);
