$ext-icon-equals-vertical: "\e612";
$ext-icon-collapse: "\e600";
$ext-icon-columns: "\e601";
$ext-icon-dirty-rtl: "\e602";
$ext-icon-dirty: "\e603";
$ext-icon-edit-html: "\e604";
$ext-icon-equals: "\e605";
$ext-icon-expand: "\e606";
$ext-icon-group-by: "\e607";
$ext-icon-ne-handle: "\e609";
$ext-icon-nw-handle: "\e60a";
$ext-icon-se-handle: "\e60b";
$ext-icon-sw-handle: "\e60c";
$ext-icon-text-background-color: "\e60d";
$ext-icon-text-color: "\e60e";
$ext-icon-text-decrease: "\e60f";
$ext-icon-text-increase: "\e610";
$ext-icon-unpin: "\e611";
