$field-label-line-height: dynamic(1.1429em);
$field-label-line-height-big: dynamic(1.25em);
$field-label-padding: dynamic(0.2143em 0.7143em);
$field-label-padding-big: dynamic(0.3125em 0.9375em);

$field-vertical-spacing: dynamic(0.7143em);
$field-vertical-spacing-big: dynamic(0.875em);