$textfield-input-line-height: dynamic(1.1429em);
$textfield-input-line-height-big: dynamic(1.25em);
$textfield-input-padding: dynamic(0.2143em 0.7143em);
$textfield-input-padding-big: dynamic(0.3125em 0.9375em);
$textfield-focused-input-border-color: dynamic(null);


$textfield-label-as-placeholder-transform: dynamic(matrix(1, 0, 0, 1, -3, 42));