$list-item-pressed-background-color: dynamic(mix($neutral-light-color, $base-highlight-color, 90%));
$list-item-selected-background-color: dynamic(#ffefbb);
$list-item-padding: dynamic(.61em .6em);
$list-item-line-height-big: dynamic(1.25em);
$list-item-padding-big: dynamic(.75em .6em);
$list-group-header-background-color: dynamic(#fff);
$list-group-header-color: dynamic($highlight-color);
