$button-default-base-color: #2a3142 !default;
$button-default-base-color-over: $orange !default;
$button-default-base-color-pressed: #da7b19 !default;
$button-default-color: #fff !default;
$button-toolbar-border-color-over: #d97e27 !default;
$button-toolbar-border-color-pressed: #c86e19 !default;
$button-toolbar-background-color-over: $orange !default;
$button-toolbar-background-color-pressed: #db7b1f !default;
$button-toolbar-background-gradient: null !default;
$button-toolbar-background-gradient-over: null !default;
$button-toolbar-background-gradient-focus: null !default;
$button-toolbar-background-gradient-pressed: null !default;
$button-toolbar-background-gradient-disabled: null !default;
$button-toolbar-color: #fff !default;
$button-toolbar-color-over: #fff !default;
$button-toolbar-color-pressed: #fff !default;
$button-arrow-width: 14px !default;
$button-split-width: 18px !default;
$button-split-height: 16px !default;