/* Styling of global error indicator */
.form-error-state {
    height: 16px;
    line-height: 18px;
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: default;
    
    @if $theme-name == 'theme-crisp' or $theme-name == 'theme-neptune-touch' {
        padding-left: 33px;
        padding-top: 7px;
        font-size: 13px;
    }
    @else {
        padding-left: 20px;
        font-size: 11px;
    }
}

/* Error details tooltip */
.errors-tip .error {
    font-style: italic;
}
