.#{$prefix}menu {
    outline: none;
}

.#{$prefix}menu-item {
    white-space: nowrap;
    overflow: hidden;
}

// "Foreign" Components (such as form fields) put inside a Menu get this class.
.#{$prefix}menu-item-cmp {

    // Ensure labels are centered when in menus which enlarge the height of a Labelable Component
    .#{$prefix}field-label-cell {
        vertical-align: middle;
    }
    @if $menu-component-margin != null {
        margin: $menu-component-margin;
    }
}

.#{$prefix}menu-icon-separator {
    position: absolute;
    top: 0px;
    z-index: 0;
    height: 100%;
    overflow: hidden;
    .#{$prefix}menu-plain & {
        display: none;
    }
}

.#{$prefix}menu-item-link {
    text-decoration: none;
    outline: 0;
    zoom: 1;
}

@if $include-ie {
    .#{$prefix}menu-item-text {
        zoom: 1;
    }
}

.#{$prefix}menu-item-icon,
.#{$prefix}menu-item-icon-right,
.#{$prefix}menu-item-arrow {
    position: absolute;
    text-align: center;
}