#splashScreen {
    background: #092542 url("images/bg.png") center top no-repeat;
}
#splashToolbar {
    margin-top: 115px;
}

#legislatorList {
    .x-list:after {
        position: absolute;
        left: 0;
        right: 0;
        display:block;
        margin-top: 20px;
        content: "Data provided by SunlightLabs.com";
        font-weight: bold;
        text-align: center;
        color: #aaa;
        font-size: 0.8em;
        text-shadow: rgba(255,255,255,.2) 0 1px 0;
    }
}

.legislator-list-item {
    padding: 7px 10px;

    font-weight: bold;
    @include bevel-text('light');
    @include ellipsis;

    &.x-view-selected {
        background: #315d94 none !important;
        color: lighten(#315d94, 50%) !important;
    }
}

.legislator-pic {
    display: inline-block;
    vertical-align: -17px;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    background-position: center center;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    @include st-box-shadow(#ccc 0 1px 2px);
}

#legislatorBio {

    .legislator-pic {
        margin: 10px;
    }
    .legislator-info {
        padding: 10px;
        font-size: 14px;
        line-height: 18px;
    }

    .legislator-name {
        display: inline-block;
        padding: 0 5px;

        .title {
            font-weight: bold;
            font-size: 0.9em;
        }
        .district {
            font-size: 0.8em;
        }
    }
}

#voteList {
    .vote {
        font-size: 13px;
        line-height: 16px;
        .results {
            color: #999;
        }
    }
}

.start-screen {
    background-color: #ccc;
}

.x-title {
    font-weight: normal;
    display: inline-block;
}

.x-list-emptytext {
    margin-top: 25px;
    text-align: center;
}

#billSummary .x-dock-body .x-innerhtml {
    padding: 20px;
    font-size: 80%;
}
