

.dynamic-pl-grid {
    margin: 20px;
    overflow: visible;



    .x-grid-header-ct {
        -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow:    0px 1px 1px 0px rgba(0, 0, 0, 0.25);
        box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    }

    .x-panel-body {
        background-color: $exec-tile-background;

        border-radius: 3px;

        -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow:    0px 1px 1px 0px rgba(0, 0, 0, 0.25);
        box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    }

    > .x-panel-body {
        border-top: none;
    }

    .x-grid-item:first-child {
        border-top: none !important;
    }

    .x-grid-item:last-child {
        border-bottom: none !important;
    }

    .x-grid-inner-locked {
        border-right-color: $exec-font-color;
    }

    .x-column-header-text {
        margin-right: 0;
    }

}

.pl-option-menu {
    .x-menu-body {
        background-color: $exec-blue-color !important;
        span {
            opacity: 1 !important;
        }
    }
    .x-menu-item-icon {
        opacity: 1 !important;
    }
    .active {
        background-image: url("icons/group-checked.png") !important;
        background-size: 50% !important;
        background-position: left center;
    }
}

#region-menu, #quarter-menu {
    .x-menu-item-unchecked .x-menu-item-icon-default.x-menu-item-checkbox {
        background-image: none;
    }
}