$progress-height: dynamic(24px);
$progress-background-color: dynamic($neutral-highlight-color);
$progress-bar-background-color: dynamic($base-highlight-color);
$progress-text-color-front: dynamic(#fff);
$progress-text-color-back: dynamic($color);
