.#{$prefix}gridcolumn {
    position: relative;
    @include st-box;
    @include st-box-align(stretch);
    flex-shrink: 0;

    .#{$prefix}title-el {
        max-width: 100%;
        @include st-box;
        @include st-box-align(center);
    }

    .#{$prefix}text-el {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include st-box-flex(1, 'auto');
    }

    &.#{$prefix}align-right {
        @include st-box-pack(end);
    }

    &.#{$prefix}align-center {
        @include st-box-pack(center);
    }
}
