#Mon, 11 Mar 2013 13:51:28 -0700
package.name=ext-locale-zh_TW

package.sass.namespace=Ext

package.classpath=${package.dir}/src
package.overrides=${package.dir}/overrides

package.sass.srcpath=${package.dir}/sass/src
package.sass.varpath=${package.dir}/sass/var
package.sass.etcpath=${package.dir}/sass/etc/all.scss

package.build.dir=${package.dir}/build

#==============================================================================
# Custom Properties - Place customizations below this line to avoid merge
# conflicts with newer versions

package.cmd.version=3.1.0.214
package.framework=ext
