/**
 * @class Ext.layout.container.Accordion
 */

/**
 * @var {color}
 * The text color of Accordion headers
 */
$accordion-header-color: dynamic(#000);

/**
 * @var {color}
 * The background-color of Accordion headers
 */
$accordion-header-background-color: dynamic($base-color);

/**
 * @var {color}
 * The background-color of Accordion headers when hovered
 */
$accordion-header-over-background-color: dynamic($accordion-header-background-color);

/**
 * @var {number}
 * The size of {@link Ext.panel.Tool Tools} in Accordion headers
 */
$accordion-header-tool-size: dynamic($tool-size);

/**
 * @var {number/list}
 * The border-width of Accordion headers
 */
$accordion-header-border-width: dynamic(1px 0);

/**
 * @var {number/list}
 * The border-color of Accordion headers
 */
$accordion-header-border-color: dynamic($panel-header-border-color);

/**
 * @var {number/list}
 * The padding of Accordion headers
 */
$accordion-header-padding: dynamic(4px 5px);

/**
 * @var {string}
 * The font-weight of Accordion headers
 */
$accordion-header-font-weight: dynamic($font-weight);

/**
 * @var {string}
 * The font-family of Accordion headers
 */
$accordion-header-font-family: dynamic($font-family);

/**
 * @var {string}
 * The text-transform property of Accordion headers
 */
$accordion-header-text-transform: dynamic(none);

/**
 * @var {number}
 * The body border-width of Accordion layout element
 */
$accordion-body-border-width: dynamic(0);

/**
 * @var {color}
 * The background-color of the Accordion layout element
 */
$accordion-background-color: dynamic(#fff);

/**
 * @var {color}
 * The background-color of the Accordion layout element
 */
$accordion-padding: dynamic(0);

/**
 * @var {number/list}
 * The padding of the Accordion layout element
 */
$accordion-item-margin: dynamic(0);

/**
 * @var {string}
 * The sprite image to use for {@link Ext.panel.Tool Tools} in Accordion headers
 */
$accordion-tool-background-image: dynamic('tools/tool-sprites');

/**
 * @var {color}
 * The color to use for Accordion expand/collapse tool icons when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$accordion-tool-glyph-color: dynamic($base-color);

/**
 * @var {number}
 * The font size to use for Accordion expand/collapse tool icons when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$accordion-tool-glyph-font-size: dynamic(16px);

/**
 * @var {string/list}
 * Glyph for the Accordion's "expand" tool icon when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$accordion-tool-expand-glyph: dynamic($fa-var-plus $accordion-tool-glyph-font-size $font-icon-font-family);

/**
 * @var {string/list}
 * Glyph for the Accordion's "collapse" tool icon when {@link Global_CSS#$enable-font-icons} is `true`.
 */
$accordion-tool-collapse-glyph: dynamic($fa-var-minus $accordion-tool-glyph-font-size $font-icon-font-family);
