/**
 * @class Ext.form.field.Checkbox
 */

$form-checkbox-image: 'form/checkbox' !default;
$form-checkbox-size: 13px !default;
/**
 * @var {measurement} $form-checkbox-label-spacing
 * The space between the label and the checkbox.
 */
$form-checkbox-label-spacing: 4px !default;

/**
 * @var {measurement} $form-checkbox-vertical-position-adjust
 * adjustment for vertical positioning of checkbox.  An adjustment of a pixel or two may
 * be needed to achieve the desired vertical alignment of the checkbox with the label in
 * cetain combinations of field-height and checkbox height
 */
$form-checkbox-vertical-position-adjust: 0 !default;