$html-editor-border-width: 1px !default;
$html-editor-border-color: $form-field-border-color !default;
$html-editor-background-color: $form-field-background-color !default;
$html-editor-toolbar-icon-size: 16px !default;
$html-editor-font-select-font-size: $form-field-font-size !default;
$html-editor-font-select-font-family: inherit !default;