@include listitem-ui(
    $color: $listitem-color,
    $hovered-color: $listitem-hovered-color,
    $pressed-color: $listitem-pressed-color,
    $selected-color: $listitem-selected-color,
    $background-color: $listitem-background-color,
    $alt-background-color: $listitem-alt-background-color,
    $hovered-background-color: $listitem-hovered-background-color,
    $pressed-background-color: $listitem-pressed-background-color,
    $selected-background-color: $listitem-selected-background-color,
    $border-width: $listitem-border-width,
    $border-style: $listitem-border-style,
    $border-color: $listitem-border-color,
    $hovered-border-color: $listitem-hovered-border-color,
    $pressed-border-color: $listitem-pressed-border-color,
    $selected-border-color: $listitem-selected-border-color,
    $font-weight: $listitem-font-weight,
    $font-size: $listitem-font-size,
    $font-size-big: $listitem-font-size-big,
    $line-height: $listitem-line-height,
    $line-height-big: $listitem-line-height-big,
    $font-family: $listitem-font-family,
    $padding: $listitem-padding,
    $padding-big: $listitem-padding-big,
    $disclosure-background-color: $listitem-disclosure-background-color,
    $pressed-disclosure-background-color: $listitem-pressed-disclosure-background-color,
    $disclosure-pressed-background-color: $listitem-disclosure-pressed-background-color,
    $disclosure-border-radius: $listitem-disclosure-border-radius,
    $disclosure-border-radius-big: $listitem-disclosure-border-radius-big,
    $disclosure-icon: $listitem-disclosure-icon,
    $disclosure-icon-color: $listitem-disclosure-icon-color,
    $pressed-disclosure-icon-color: $listitem-pressed-disclosure-icon-color,
    $disclosure-pressed-icon-color: $listitem-disclosure-pressed-icon-color,
    $disclosure-icon-size: $listitem-disclosure-icon-size,
    $disclosure-icon-size-big: $listitem-disclosure-icon-size-big,
    $disclosure-icon-font-size: $listitem-disclosure-icon-font-size,
    $disclosure-icon-font-size-big: $listitem-disclosure-icon-font-size-big,
    $disclosure-margin: $listitem-disclosure-margin,
    $disclosure-margin-big: $listitem-disclosure-margin-big
);
