/**
 * @class Ext.dataview.List
 */

.x-list-item {
    background-color: $list-item-background-color;
    color: $list-item-color;

    &.x-item-selected .x-dock-horizontal,
    &.x-item-selected.x-list-item-tpl {
        background-color: $list-item-selected-background-color;
        @include color-by-background($list-item-selected-background-color);
    }

    &.x-item-pressed {
        &.x-list-item-tpl,
        .x-dock-horizontal {
            background: $list-item-pressed-background-color none;
        }
    }

    .x-list-item-body,
    > .x-innerhtml {
        padding: $list-item-padding;
        @include font($list-item-font-weight, $list-item-font-size, $list-item-line-height, $list-item-font-family);
        @if $enable-big {
            .x-big & {
                padding: $list-item-padding-big;
                font-size: $list-item-font-size-big;
                line-height: $list-item-line-height-big;
            }
        }
    }

    &.x-list-item-tpl,
    .x-dock-horizontal {
        border-top: 1px solid $list-item-border-color;
    }


    &.x-list-item-tpl.x-list-footer-wrap,
    &.x-list-footer-wrap .x-dock-horizontal {
        border-bottom: 1px solid $list-item-border-color;
    }
}

.x-list-header {
    background-color: $list-group-header-background-color;
    border-top: 1px solid $list-group-header-border-color;
    border-bottom: 1px solid $list-group-header-border-color;

    color: $list-group-header-color;
    @include font($list-group-header-font-weight, $list-group-header-font-size, $list-group-header-line-height, $list-group-header-font-family);
    padding: $list-group-header-padding;

    @if $enable-big {
        .x-big & {
            font-size: $list-group-header-font-size-big;
            line-height: $list-group-header-line-height-big;
            padding: $list-group-header-padding-big;
        }
    }
}

.x-list-disclosure {
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    top: 50%;
    margin-top: -.5em;
    margin-right: .6em;
    color: $neutral-dark-color;
    text-align: center;
    @include font-icon($fa-var-arrow-circle-right 1.24em $font-icon-font-family);

    @if $enable-big {
        .x-big & {
            font-size: 1.2em;
        }
    }

    .x-list-indexed & {
        margin-right: 1.8em;
    }
}
