body {
    font: 300 15px/19px klavika,helvetica,arial,sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    outline: none;
    text-decoration: none;
}

#title {
    height: 60px;
    width: 100%;
    background: #fff;
    border-bottom: 5px solid #c8c8c8;
}

#title > .wrap {
    height: 100%;
}

.wrap {
    width: 1000px;
    padding: 0 20px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 1000px) {
    .wrap {
        width: 100%;
    }
}

#sencha-logo,
#title-text {
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 50%;
}

#sencha-logo {
    background-image: url(../welcome/img/logo-sencha-sm.png);
    width: 120px;
    left: 20px;
    margin-top: -27px;
}

#ext-logo {
    background-image: url(../welcome/img/ext-cube.png);
    width: 200px;
    height : 86px;
    line-height: 86px;
}

#title-text {
    right: 20px;
    font-weight: 400;
    font-size: 17px;
    margin-top: -21px;
    color: #888;
}

#header {
    background: url(resources/images/header-bg.jpg);
    width: 100%;
}

#header > .wrap {
    display: table;
    table-layout: fixed;
    height: 100px;
}

.header-item {
    display: table-cell;
    vertical-align: middle;
}

#header-title {
    width: 370px;
    font-size: 36px;
    color: #1c5a7d;
}

.header-link {
    text-align: right;
}
.header-link > a {
    font-weight: 500;
    color: #888;
}

.header-link > a:hover {
    color: #444;
}

.group-header {
    border-top: 1px solid #c8c8c8;
    height: 80px;
    font-size: 24px;
    text-transform: uppercase;
    color: #1c5a7d;
    cursor: pointer;
}

.group-header > .wrap {
    display: table;
    table-layout: fixed;
    height: 80px;
}

.group-title,
.group-action {
    display: table-cell;
    vertical-align: middle;
}

.group-action {
    width: 48px;
}

.group-action-icon {
    height: 24px;
    width: 24px;
    font-size: 24px;
    line-height: 24px;
    font-family: Sencha-Examples;
    background: center no-repeat;
}

.collapsed + .group {
    display: none;
}

.group {
    border-top: 5px solid #25657b;
    background-color: #2f7d9c;
    padding-bottom: 30px;
}

.example {
    float: left;
    padding-left: 85px;
    position: relative;
    color: #fff;
    width: 300px;
    height: 100px;
    margin: 30px 20px 0 0
}

.example-icon-wrap {
    height: 74px;
    width: 84px;
    font-size: 72px;
    line-height: 72px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -36px;
    color: #1c5a7d;
    font-family: Sencha-Examples;
}

.example-icon {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 36px;
    line-height: 72px;
    text-align: center;
}

.example-text-wrap {
    display: table;
    height: 100%;
}
.example-text-wrap-inner {
    padding-left: 15px;
    display: table-cell;
    vertical-align: middle;
}

.example-title {
    font-size: 17px;
    font-weight: bold;
}

#footer {
    padding: 24px 0;
    border-top: 1px solid #c8c8c8;
    color: #888;
}