$widget-first-container-background: #468fd3;
$widget-second-container-background: #8dc153;
$widget-third-container-background: #607d8b;
$follow-button-color : #82c748;
$follower-toolbar-background: #fafafa;

$sale-container-color: #458fd2;
$message-container-color: #4caf50;
$code-container-color: #9c27b0;
$user-container-color: #e91e63;
$server-container-color: #ffc107;
$file-container-color: #673ab7;