.#{$prefix}grid-rowbody {
    font: $grid-row-body-font;

    padding: $grid-row-body-padding;

    p {
        margin: 5px 5px 10px 5px;
    }
}

@if $include-ie {
    .#{$prefix}ie6 .#{$prefix}grid-rowbody {
        width: 100%;
    }
}

.#{$prefix}grid-row-body-hidden {
    display: none;
}

.#{$prefix}grid-row-selected .#{$prefix}grid-rowbody {
    background-color: $grid-row-cell-selected-background-color !important;
}
