/**
 * @class Ext.tab.Bar
 */

/**
 * @var {color}
 * TabBar background-color
 */
$tabbar-background-color: dynamic($base-color);

/**
 * @var {number/list}
 * TabBar padding
 */
$tabbar-padding: dynamic(.46rem .5rem);

/**
 * @var {number/list}
 * TabBar padding in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$tabbar-padding-big: dynamic(.4rem .67rem);

/**
 * @var {number}
 * The space between tabs
 */
$tabbar-tab-spacing: dynamic(.4em);

/**
 * @var {number}
 * The space between tabs in the {@link Global_CSS#$enable-big big} sizing scheme
 */
$tabbar-tab-spacing-big: dynamic($tabbar-tab-spacing);
