/**
 * @class Ext.field.Slider
 */

/**
 * @var {measurement} $form-thumb-size
 * Default size of "thumbs" for form sliders/toggles.
 */
$form-thumb-size: dynamic(2.1em);

/**
 * @var {measurement} $form-slider-size
 * Height of the slider "track."
 */
$form-slider-size: dynamic(.2em);
