.error-page-container{
    background-image:url('images/error-page-background.jpg');
    background-size:cover;
    color: #fff;
}

.error-page-top-text{
    font-size: 10rem;
    line-height: 10rem;
}
.error-page-desc{
    text-align:center;
    font-size: 1.3rem;
}