.x-list {
    .x-list-item {
        &.x-item-selected .x-dock-horizontal,
        &.x-item-selected.x-list-item-tpl {
            background-color: #ccc;
        }

        &.x-item-pressed {
            &.x-list-item-tpl,
            .x-dock-horizontal {
                background-color: #ddd;
            }
        }

        .x-list-item-body,
        &.x-list-item-tpl .x-innerhtml {
            padding: 5px;
        }
    }
    .x-item-selected .x-list-disclosure {
        background-color: #fff;
    }

    .x-list-header {
        background-color: #eee;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        font-weight: bold;
    }

    .x-list-disclosure {
        margin: 5px 15px 5px 0;
        overflow: visible;
        width: 20px;
        height: 20px;
        border: 1px solid #ccc;
        background-color: #eee;
    }

    .x-list-item-tpl .x-list-disclosure {
        position: absolute;
        right: 0px;
        top: 0px;
    }


    &.x-list-indexed .x-list-disclosure {
        margin-right: 35px;
    }
}