$colorpicker-background-color: #fff !default;
$colorpicker-border-color: $colorpicker-background-color !default;
$colorpicker-border-width: 0 !default;
$colorpicker-border-style: solid !default;
$colorpicker-columns: 8 !default;
$colorpicker-rows: 5 !default;
$colorpicker-item-height: 18px !default;
$colorpicker-item-width: 18px !default;
$colorpicker-item-padding: 2px !default;
$colorpicker-item-cursor: pointer !default;
$colorpicker-item-border-color: $colorpicker-background-color !default;
$colorpicker-item-border-width: 1px !default;
$colorpicker-item-border-style: solid !default;
$colorpicker-item-border-color-over: $neutral-color !default;
$colorpicker-item-background-color: $colorpicker-background-color !default;
$colorpicker-item-background-color-over: #fff !default;
$colorpicker-item-border-color-selected: $colorpicker-item-border-color-over !default;
$colorpicker-item-background-color-selected: $colorpicker-item-background-color-over !default;
$colorpicker-item-inner-border-color: $neutral-color !default;
$colorpicker-item-inner-border-width: 1px !default;
$colorpicker-item-inner-border-style: solid !default;