$panel-header-background-color: dynamic(#3a4155);
$panel-header-color: dynamic(#fff);
$panel-body-background-color: dynamic(#232d38);
$panel-body-color: dynamic(#fff);
$panel-border-color: dynamic($panel-header-background-color);
$panel-frame-background-color: dynamic(#3f4757);
