.x-legend {
    .x-legend-inner {
        .x-legend-container {
            @include border-radius(5px);
            .x-legend-item {
                font-size: 11px;
                line-height: 12px;
            }
        }
    }
}
