@if $theme-name == 'theme-classic' or $theme-name == 'theme-gray' {
    .cell-editing-delete-row {
        background-image: url(images/icons/fam/delete.gif);
    }
} @else {
    .cell-editing-delete-row:before {
        font: $grid-actioncolumn-icon-height/1 FontAwesome;
        color: $red-icon-color;
        content: $fa-var-minus-circle;
    }
}
