$border-color: #ddd;

$panel-header-background-color: dynamic($base-color);

$mask-page-opacity: dynamic($mask-opacity);
$mask-page-background-color: dynamic($mask-background-color);

//-----------------------------------------

$main-nav-width: 260px;
$main-nav-collapsed-width: 64px;
$main-toolbar-height: 65px;
$main-phone-toolbar-height: 56px;

@mixin list-item-title() {
    font-weight: 600;
    line-height: 20px;
}
