$base-color: dynamic(#5fa2dd);
$color: dynamic(#404040);
$highlight-color: dynamic(#606060);
$light-color: dynamic(#f0f0f0);
$font-family: dynamic('Open Sans', 'Helvetica Neue', helvetica, arial, sans-serif);
$font-weight-normal: dynamic(300);
$font-weight-bold: dynamic(400);
$font-size-big: dynamic(100%);
