$messagebox-title-background-color: dynamic($base-color);
$messagebox-border-radius: dynamic(null);
$messagebox-border-width: dynamic(2px);
$messagebox-footer-background-color: dynamic($neutral-highlight-color);
