$titlebar-title-font-size: dynamic(1.23rem);
$titlebar-title-font-size-big: dynamic(1.125rem);
$titlebar-padding-big: dynamic(.375em .67em);
$titlebar-min-height: dynamic(3.26em);
$titlebar-min-height-big: dynamic(3.5em);
