$toolbar-title-font-size: dynamic(1.23rem);
$toolbar-title-font-size-big: dynamic(1.125rem);
$toolbar-padding-big: dynamic(.375em .67em);
$toolbar-min-height: dynamic(3.26em);
$toolbar-min-height-big: dynamic(3.5em);
