.x-managed-borders {
    .x-docked-top {
        border-bottom-width: 0 !important;
    }

    .x-docked-bottom {
        border-top-width: 0 !important;
    }

    .x-docked-left {
        border-right-width: 0 !important;
    }

    .x-docked-right {
        border-left-width: 0 !important;
    }
}