.x-msgbox {
    border: 1px solid #ccc;
    margin: 6px;

    .x-toolbar {
        &.x-docked-top {
            border-bottom: 0;
        }

        &.x-docked-bottom {
            border-top: 0;
        }
    }
}

.x-msgbox-text {
    text-align: center;
}
