.x-toolbar {
    background-color: #eee;
    min-height: 2.6em;

    &.x-docked-top {
        border-bottom: 1px solid;
    }

    &.x-docked-bottom {
        border-top: 1px solid;
    }

    &.x-docked-left {
        width: 50px;
        height: auto;
        border-right: 1px solid;
    }

    &.x-docked-right {
        width: 50px;
        height: auto;
        border-left: 1px solid;
    }
}

.x-title {
    font-size: 1.2em;
    font-weight: bold;


    &.x-title-align-left {
        padding-left: 10px;
    }


    &.x-title-align-right {
        padding-right: 10px;
    }

}