$grid-paging-toolbar-glyph-color: dynamic($neutral-dark-color);
$grid-paging-toolbar-glyph-font-size: dynamic(24px);
$grid-paging-toolbar-refresh-glyph: dynamic($fa-var-refresh 16px $font-icon-font-family);
