$tab-background-color: dynamic(transparent);
$tab-active-background-color: dynamic(#fff);
$tab-border-radius: dynamic(null);
$tab-border-radius-big: dynamic(null);

$tab-padding: dynamic(.54em .6em);
$tab-line-height-big: dynamic(1.375em);
$tab-padding-big: dynamic(.625em .6em);
$tab-badge-border-radius: dynamic(0);
