$tool-size: 16px !default;
$tool-include-hover-icons: true !default;
$tool-cursor: pointer !default;
$tool-opacity: 1 !default;
$tool-opacity-over: 1 !default;
$tool-opacity-pressed: 1 !default;
$tool-background-image: 'tools/tool-sprites' !default;