/** @class Ext.ProgressBar */
//

$progress-background-color: dynamic($neutral-light-color);
$progress-bar-background-color: dynamic(mix(#fff, $base-light-color, 25%));
$progress-border-width: dynamic(0);
$progress-text-color-front: dynamic(#666);
$progress-text-color-back: dynamic(#666);
