/**
 * @class Ext.FocusManager
 */

/**
 * @var {color}
 * The border-color of the focusFrame.  See {@link #method-enable}.
 */
$focus-frame-color: dynamic(rgb(21, 66, 139));

/**
 * @var {color}
 * The border-style of the focusFrame.  See {@link #method-enable}.
 */
$focus-frame-style: dynamic(solid);

/**
 * @var {color}
 * The border-width of the focusFrame.  See {@link #method-enable}.
 */
$focus-frame-width: dynamic(2px);
