/**
 * @class Ext.ProgressBar
 */

/**
 * @var {number}
 * The height of the ProgressBar
 */
$progress-height: dynamic(20px);

/**
 * @var {color}
 * The border-color of the ProgressBar
 */
$progress-border-color: dynamic($base-color);

/**
 * @var {number}
 * The border-width of the ProgressBar
 */
$progress-border-width: dynamic(1px);

/**
 * @var {number}
 * The border-radius of the ProgressBar
 */
$progress-border-radius: dynamic(0);

/**
 * @var {color}
 * The background-color of the ProgressBar
 */
$progress-background-color: dynamic($base-color);

/**
 * @var {color}
 * The background-color of the ProgressBar's moving element
 */
$progress-bar-background-color: dynamic($base-color);

/**
 * @var {string/list}
 * The background-gradient of the ProgressBar's moving element. Can be either the name of
 * a predefined gradient or a list of color stops. Used as the `$type` parameter for
 * {@link Global_CSS#background-gradient}.
 */
$progress-bar-background-gradient: dynamic('none');

/**
 * @var {color}
 * The color of the ProgressBar's text when in front of the ProgressBar's moving element
 */
$progress-text-color-front: dynamic(#fff);

/**
 * @var {color}
 * The color of the ProgressBar's text when the ProgressBar's 'moving element is not under it
 */
$progress-text-color-back: dynamic(#000);

/**
 * @var {string}
 * The text-align of the ProgressBar's text
 */
$progress-text-text-align: dynamic(center);

/**
 * @var {number}
 * The font-size of the ProgressBar's text
 */
$progress-text-font-size: dynamic($font-size);

/**
 * @var {string}
 * The font-weight of the ProgressBar's text
 */
$progress-text-font-weight: dynamic($font-weight-bold);

/**
 * @var {string}
 * The font-family of the ProgressBar's text
 */
$progress-text-font-family: dynamic($font-family);

/**
 * @var {boolean}
 * True to include the "default" ProgressBar UI
 */
$include-progress-default-ui: dynamic($include-default-uis);
