/**
 * @var {color}
 * Grid cell text color
 */
$grid-cell-color: dynamic($list-item-color);

/**
 * @var {color}
 * Grid cell background-color
 */
$grid-cell-background-color: dynamic($list-item-background-color);

/**
 * @var {color}
 * Grid cell background-color
 */
$grid-cell-border-color: dynamic($list-item-border-color);

/**
 * @var {color}
 * Grid cell background-color when pressed
 */
$grid-cell-pressed-background-color: dynamic($list-item-pressed-background-color);

/**
 * @var {color}
 * Grid cell background-color when selected
 */
$grid-cell-selected-background-color: dynamic($list-item-selected-background-color);

/**
 * @var {string/number}
 * Grid cell font-weight
 */
$grid-cell-font-weight: dynamic($list-item-font-weight);

/**
 * @var {number}
 * Grid cell font-size
 */
$grid-cell-font-size: dynamic($list-item-font-size);

/**
 * @var {number}
 * Grid cell font-size in the {@link Ext.Component#$enable-big big} sizing scheme
 */
$grid-cell-font-size-big: dynamic($grid-cell-font-size);

/**
 * @var {number}
 * Grid cell line-height
 */
$grid-cell-line-height: dynamic($list-item-line-height);

/**
 * @var {number}
 * Grid cell line-height in the {@link Ext.Component#$enable-big big} sizing scheme
 */
$grid-cell-line-height-big: dynamic($list-item-line-height-big);

/**
 * @var {string}
 * Grid cell font-family
 */
$grid-cell-font-family: dynamic($list-item-font-family);

/**
 * @var {number/list}
 * Grid cell padding
 */
$grid-cell-padding: dynamic($list-item-padding);

/**
 * @var {number/list}
 * Grid cell padding in the {@link Ext.Component#$enable-big big} sizing scheme
 */
$grid-cell-padding-big: dynamic($list-item-padding-big);

/**
 * @var {color}
 * Grid group header text color
 */
$grid-group-header-color: dynamic($list-group-header-color);

/**
 * @var {color}
 * Grid group header background-color
 */
$grid-group-header-background-color: dynamic($list-group-header-background-color);

/**
 * @var {color}
 * Grid group header border-color
 */
$grid-group-header-border-color: dynamic($list-group-header-border-color);

/**
 * @var {string/number}
 * Grid group header font-weight
 */
$grid-group-header-font-weight: dynamic($list-group-header-font-weight);

/**
 * @var {number}
 * Grid group header font-size
 */
$grid-group-header-font-size: dynamic($list-group-header-font-size);

/**
 * @var {number}
 * Grid group header font-size in the {@link Ext.Component#$enable-big big} sizing scheme
 */
$grid-group-header-font-size-big: dynamic($grid-group-header-font-size);

/**
 * @var {number}
 * Grid group header line-height
 */
$grid-group-header-line-height: dynamic($list-group-header-line-height);

/**
 * @var {number}
 * Grid group header line-height in the {@link Ext.Component#$enable-big big} sizing scheme
 */
$grid-group-header-line-height-big: dynamic($list-group-header-line-height-big);

/**
 * @var {string}
 * Grid group header font-family
 */
$grid-group-header-font-family: dynamic($list-group-header-font-family);

/**
 * @var {number/list}
 * Grid group header padding
 */
$grid-group-header-padding: dynamic($list-group-header-padding);

/**
 * @var {number/list}
 * Grid group header padding in the {@link Ext.Component#$enable-big big} sizing scheme
 */
$grid-group-header-padding-big: dynamic($list-group-header-padding-big);

/**
 * @var {color}
 * Grid summary row cell text color
 */
$grid-summary-row-cell-color: dynamic($grid-cell-color);

/**
 * @var {color}
 * Grid summary row cell background-color
 */
$grid-summary-row-cell-background-color: dynamic($grid-cell-background-color);

/**
 * @var {color}
 * Grid summary row cell background-color
 */
$grid-summary-row-cell-border-color: dynamic($grid-cell-border-color);

/**
 * @var {string/number}
 * Grid summary row cell font-weight
 */
$grid-summary-row-cell-font-weight: dynamic($font-weight-bold);

/**
 * @var {number}
 * Grid summary row cell font-size
 */
$grid-summary-row-cell-font-size: dynamic($grid-cell-font-size);

/**
 * @var {number}
 * Grid summary row cell font-size in the {@link Ext.Component#$enable-big big} sizing scheme
 */
$grid-summary-row-cell-font-size-big: dynamic($grid-summary-row-cell-font-size);

/**
 * @var {number}
 * Grid summary row cell line-height
 */
$grid-summary-row-cell-line-height: dynamic($grid-cell-line-height);

/**
 * @var {number}
 * Grid summary row cell line-height in the {@link Ext.Component#$enable-big big} sizing scheme
 */
$grid-summary-row-cell-line-height-big: dynamic($grid-cell-line-height-big);

/**
 * @var {string}
 * Grid summary row cell font-family
 */
$grid-summary-row-cell-font-family: dynamic($grid-cell-font-family);

/**
 * @var {number/list}
 * Grid summary row cell padding
 */
$grid-summary-row-cell-padding: dynamic($grid-cell-padding);

/**
 * @var {number/list}
 * Grid summary row cell padding in the {@link Ext.Component#$enable-big big} sizing scheme
 */
$grid-summary-row-cell-padding-big: dynamic($grid-cell-padding-big);
