/** @class Ext.form.field.Base */
//

$form-field-padding: dynamic(4px 6px 3px);

$form-field-height: dynamic(24px);

// private
$form-field-border-accent-color: dynamic(mix(#fff, $neutral-medium-dark-color, 40%));

$form-field-border-color: dynamic($neutral-medium-dark-color $form-field-border-accent-color $form-field-border-accent-color);
$form-field-border-width: dynamic(1px);
$form-field-invalid-border-color: dynamic($error-color);
$form-field-focus-border-color: dynamic(mix(#fff, #157fcc, 15%));
$form-field-background-image: dynamic('none');
$form-field-invalid-background-image: dynamic('none');
