$btn-group-background-color: #fff !default;
$btn-group-border-color: $base-color !default;
$btn-group-border-radius: 0 !default;
$btn-group-framed-border-radius: 2px !default;
$btn-group-border-width: 1px !default;
$btn-group-padding: 0 1px !default;

$btn-group-inner-border-width: 1px !default;
$btn-group-inner-border-color: #fff !default;

$btn-group-header-margin: 0 !default;
$btn-group-header-font-size: $font-size !default;
$btn-group-header-font-weight: normal !default;
$btn-group-header-font-family: $font-family !default;
$btn-group-header-font: $btn-group-header-font-weight $btn-group-header-font-size $btn-group-header-font-family !default;
$btn-group-header-line-height: 16px !default;
$btn-group-header-color: #000 !default;
$btn-group-header-padding: 4px 5px !default;
$btn-group-header-background-color: $base-color !default;

$btn-group-framed-background-color: $btn-group-background-color !default;
$btn-group-framed-border-width: 1px !default;

$btn-group-border-spacing: 0 !default;

$btn-group-tool-background-image: 'tools/tool-sprites' !default;
