// font-size must be set on the html element in order for rem units to be used throughout the theme
html {
	font: $font-weight-normal #{$font-size}/#{$line-height} $font-family;
	color: $color;

	&.x-big {
		font-size: $font-size-big;
	}
}

@include st-loading-spinner(1em, $loading-spinner-color, .1em, .25em);