.x-menu {
	padding: $sheet-padding;
	background-color: $sheet-background-color;

	&.x-top {
		border-bottom: 1px solid $sheet-border-color;
	}

	&.x-right {
		border-left: 1px solid $sheet-border-color;
	}

	&.x-bottom {
		border-top: 1px solid $sheet-border-color;
	}

	&.x-left {
		border-right: 1px solid $sheet-border-color;
	}

	.x-button {
		margin-bottom: $sheet-button-spacing;

		&:last-child {
			margin-bottom: 0;
		}
	}
}