
@include panel-ui(
    $border-color: $panel-border-color,
    $border-width: $panel-border-width,
    $border-style: $panel-border-style,
    $body-background-color: $panel-body-background-color,
    $body-color: $panel-body-color,
    $body-border-color: $panel-body-border-color,
    $body-border-width: $panel-body-border-width,
    $body-border-style: $panel-body-border-style,
    $body-padding: $panel-body-padding,
    $body-padding-big: $panel-body-padding-big,
    $body-font-weight: $panel-body-font-weight,
    $body-font-size: $panel-body-font-size,
    $body-font-size-big: $panel-body-font-size-big,
    $body-line-height: $panel-body-line-height,
    $body-line-height-big: $panel-body-line-height-big,
    $body-font-family: $panel-body-font-family,

    $header-background-color: $panel-header-background-color,
    $header-background-gradient: $panel-header-background-gradient,
    $header-color: $panel-header-color,
    $header-border-color: $panel-header-border-color,
    $header-border-width: $panel-header-border-width,
    $header-border-style: $panel-header-border-style,
    $header-font-weight: $panel-header-font-weight,
    $header-font-size: $panel-header-font-size,
    $header-font-size-big: $panel-header-font-size-big,
    $header-line-height: $panel-header-line-height,
    $header-line-height-big: $panel-header-line-height-big,
    $header-font-family: $panel-header-font-family,
    $header-padding: $panel-header-padding,
    $header-padding-big: $panel-header-padding-big,
    $header-icon-size: $panel-header-icon-size,
    $header-icon-size-big: $panel-header-icon-size-big,
    $header-icon-font-size: $panel-header-icon-font-size,
    $header-icon-font-size-big: $panel-header-icon-font-size-big,
    $header-icon-horizontal-spacing: $panel-header-icon-horizontal-spacing,
    $header-icon-horizontal-spacing-big: $panel-header-icon-horizontal-spacing-big,
    $header-icon-vertical-spacing: $panel-header-icon-vertical-spacing,
    $header-icon-vertical-spacing-big: $panel-header-icon-vertical-spacing-big,
    $header-icon-opacity: $panel-header-icon-opacity,
    $header-shadow: $panel-header-shadow,
    $header-z-index: $panel-header-z-index,

    $tool-color: $panel-tool-color,
    $tool-size: $panel-tool-size,
    $tool-size-big: $panel-tool-size-big,
    $tool-font-size: $panel-tool-font-size,
    $tool-font-size-big: $panel-tool-font-size-big,
    $tool-spacing: $panel-tool-spacing,
    $tool-spacing-big: $panel-tool-spacing-big,
    $tool-cursor: $panel-tool-cursor,
    $tool-opacity: $panel-tool-opacity,
    $tool-opacity-over: $panel-tool-opacity-over,
    $tool-opacity-pressed: $panel-tool-opacity-pressed,

    $anchor-width: $panel-anchor-width,
    $anchor-height: $panel-anchor-height
);

@if $panel-light-ui {
    @include panel-light-ui;
}
