.x-selected > .inbox-item {
    background-color: $listitem-selected-background-color;
}

.inbox-item {
    padding: 20px;
    border-bottom: 1px solid $border-color;
    background-color: #fff;
    overflow: auto; // ensure the box expands to include the floated items
}

.inbox-inner-row:after {
    content: " ";
    clear: both; // clear the floated items in the row
}

.inbox-from,
.inbox-summary {
    float: left;
}

.inbox-date,
.inbox-favorite {
    float: right;
}

.inbox-favorite-icon {
    color: #facc6e;
}

.inbox-attachment {
    padding-right: 10px;
}

.inbox-summary {
    width: calc(100vw - 6em);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.email-controls {
    width: 30%;
    min-width: 180px;
    max-width: 240px;
}

.email-controls-box {
    margin: 0 20px 20px 0;
}

//-------------------------------

.email-friend {
    overflow: auto;
    padding: 20px;
}

.email-friend:after {
    content: " ";
    clear: both;
}

.email-friend-name {
    float: left;
}

.email-friend-status {
    float: right;
}

.online > .email-friend-status {
    color: green;
}

.offline > .email-friend-status {
    color: #ddd;
}
