.binding-selection-view .customer {
    float: left;
    width: 150px;
    padding: 8px;
    margin: 8px 8px 4px 8px;
}

.x-rtl .binding-selection-view .customer {
    float: right;
}

.binding-selection-view h1 {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}