$base-gradient: matte;
$list-pressed-color: mix(#08679F, #fff, 10);
$list-active-color: mix(#043F62, #fff, 0);

$base-color: white;
$base-gradient: flat;
$toolbar-base-color: white;
$tabs-light: rgb(180, 48, 39);
$toolbar-base-color: #f7f7f7;
$page-bg-color: #f7f7f7;

$font-family: 'Roboto';

$list-active-color: #f7f7f7;
$list-pressed-color: transparent;
$toolbar-input-border-color: rgba(0,0,0,.25);
$list-item-padding: 15px;
