#docked-toolbars {
    .list {
        background-image: url(images/icons/fam/text_list_bullets.png);
    }

    .close {
        background-image: url(images/icons/fam/delete.png);
    }

    .paste {
        background-image: url(images/icons/fam/paste_plain.png);
    }

    .edit {
        background-image: url(images/icons/fam/page_white_edit.png);
    }
}