/**
 * @class Ext.field.Radio
 */

/**
 * @var {number}
 * The font-size of the radio checkbox
 */
$radiofield-checkbox-font-size: dynamic($checkboxfield-checkbox-font-size);

/**
 * @var {number}
 * The font-size of the radio checkbox in the {@link Ext.Component#$enable-big big} sizing scheme
 */
$radiofield-checkbox-font-size-big: dynamic($checkboxfield-checkbox-font-size-big);

/**
 * @var {number}
 * Checkbox size. If specified in terms of `em` units, the checkbox will be sized
 * relative to {@link #$radiofield-checkbox-font-size}.
 */
$radiofield-checkbox-size: dynamic($checkboxfield-checkbox-size);

/**
 * @var {string/list}
 * The radio checkbox icon
 */
$radiofield-checkbox-icon: dynamic($fa-var-circle-o $radiofield-checkbox-font-size $font-icon-font-family);

/**
 * @var {string/list}
 * The radio checkbox icon in "checked" state
 */
$radiofield-checked-checkbox-icon: dynamic($fa-var-dot-circle-o $radiofield-checkbox-font-size $font-icon-font-family);

/**
 * @var {color}
 * The radio checkbox color
 */
$radiofield-checkbox-color: dynamic($checkboxfield-checkbox-color);
