$accordion-header-color: #000 !default;
$accordion-header-background-color: $base-color !default;
$accordion-header-tool-size: $tool-size !default;
$accordion-header-border-width: 1px 0 !default;
$accordion-header-padding: 4px 5px !default;
$accordion-header-font-weight: normal !default;
$accordion-header-font-family: $font-family !default;
$accordion-header-text-transform: none !default;
$accordion-body-border-width: 0 !default;
$accordion-background-color: #fff !default;
$accordion-padding: 0 !default;
$accordion-item-margin: 0 !default; 
$accordion-tool-background-image: 'tools/tool-sprites' !default;